/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 194%;
  object-fit: cover;
  z-index: -1;
}